In [ ]:
A = 20,
print(type(A))

In [ ]:
name = "goutham"; print(name)

In [ ]:
if_names = "chandra"
print(if_names)

In [ ]:
import keyword

print(keyword.kwlist)

In [ ]:
a_2 = 21
print(a_2)
print(id(a_2))

In [ ]:
sensor = 0

if sensor == 0:
    print("on")
else:
    print("off")

In [ ]:
print = 20

In [ ]:
var0,var1,var2 = 32,"hi",9
(var0,var1,var2)

In [ ]:
print("hello\bworld")

In [ ]:
print("hello\nworld")

In [ ]:
print("c:\tiger")

In [ ]:
print("c:\\tiger")

In [ ]:
int(bool(1000))

In [ ]:
def names(name1,name2):
    print(name1,name2)
    return names
x =names("chandra","shashi")

In [ ]:
def withdrawl(amount):
    balance = 1000;
    balance = balance - amount
    print("amount after minus",balance)
    return balance

b = withdrawl(500)

In [ ]:
def kilometer(meter):
    meter = meter*1000
    print(meter)
    return meter 
k = 5
m = kilometer(k)
print(m)

In [ ]:
#taking 10% discount on total fees
def fees(amount):
    percent = 10
    values = amount * percent/100
    print("amount after discount",values)
    return values
amount =  10000
b = fees(amount)

In [ ]:
# taking avg on subjects 


maths = int(input("enter marks")) 
marks = [75,85,78]
sum1 = sum(marks)
total_subjects = len(list1)
average_marks = total_subjects/sum1 *100 
print("the average marks is"average_marks)

In [ ]:
#error code
marks1 = int(input("enter marks"))
if marks >=70<100:
    print("distinction")
elif marks >=60<70:
    print("first class")
elif marks >=50<60:
    print("second class")
elif marks >=35<50:
    print("pass class")
elif marks<35:
    print("fail")
else:
    print("invalid")

In [ ]:
marks = int(input("enter marks"))
if marks>=70 and marks <= 100:
    print("distinction")
elif marks >=60 and marks <70:
    print("first class")
elif marks >=50 and marks <60:   #  50 is greater then marks and 50 is less then 60
    print("second class")
elif marks >=35and marks<50:
    print("pass class")
elif marks<35:
    print("fail")
else:
    print("invalid")

In [ ]:
def mark(marks):
    if marks>=70 and marks <= 100:
        print("distinction","grade: A")
    elif marks >=60 and marks <70:
        print("first class","grade : B")
    elif marks >=50 and marks <60:   #  50 is greater then marks and 50 is less then 60
        print("second class","grade : C")
    elif marks >=35and marks<50:
        print("pass class","grade : D")
    elif marks<35:
        print("fail","grade : F")
    else:
        print("invalid")
        return 

mark(65)

In [ ]:
def sum1(num1,num2):
    value = num1+num2
    print(value)
    return 

sum1(12,4)

In [ ]:
a = "helloworld"
for i in a:
    print(i)

In [ ]:
a= "aasafgs","basas","asasc","dsasa"
#a="efghijkl"
a[0]

In [ ]:
result =  "hello" + "world"
print(result)

In [ ]:
result1 = "good" in "this is a book"
print(result1)

In [ ]:
result2 = "good" not in "this is a book"
print(result2)

In [ ]:
my_str = "king ring sing bing ping "

ns = my_str.replace("ki","ci")
print(ns)

In [ ]:
print(dir(str))

In [ ]:
help(str.replace)

In [ ]:
a = "HELLOworld".swapcase()
print(a )

In [ ]:
a = "helloworld".upper()
print(a)

In [ ]:
a = "helloworld".lower()
print(a)

In [ ]:
for i in range(1,11):
    print(5,i,5*i)

In [ ]:
a =  "chandrashekar"
print(a.replace("a","i").replace("r","j"))

In [ ]:
print("2015".isdigit())
print("hello".isalpha())

In [1]:
a = "helloWORLD".swapcase()
a

'HELLOworld'

In [2]:
print("2".isdigit())

True

In [3]:
print("2$".isdigit())

False

In [5]:
a = "s2atement"
a[1].isalpha()

False

In [4]:
a = "statement"
a[1].isalpha()

True

In [6]:
print("7j".isalnum())

True

In [114]:
a = "world health organizztion"
print(a.split())

['world', 'health', 'organizztion']

In [113]:
a = "world_health_organizztion"
print(a.split("_",1))

['world', 'health_organizztion']

In [112]:
a = "world health organizztion"
print(a.split("health"))

['world ', ' organizztion']

In [5]:
strlist= ["national","stock","exchange"]
print("_".join(strlist))

national_stock_exchange

In [7]:
a = ["hello"]
print("_".join("hello"))

h_e_l_l_o

In [6]:
ms = "_".join("chandra")
print(ms)

c_h_a_n_d_r_a

In [ ]:
help(str.replace)

In [ ]:
subject = "english"
num_of_students = 60
avg = 98.76
n ="average {} marks of {} a student is {} in this exam".format(subject,num_of_students,avg)
print(n)

In [ ]:
def displaymarks(s,n,a):
    n ="average {} marks of {} a student got {} in this exam".format(subject,num_of_students,avg)
    print(n)
    displaymarks(98,89,76)

In [8]:
#unconstrained printing
subject = "english"
num_of_students = 60
avg = 98.76
n ="average {} marks of {} a student is {} in this exam".format(num_of_students,num_of_students,num_of_students)
print(n)

average 60 marks of 60 a student is 60 in this exam

In [9]:
#formating reverse
subject = "english"
num_of_students = 60
avg = 98.76
n ="average {} marks of {} a student is {} in this exam".format(avg,num_of_students,subject)
print(n)

average 98.76 marks of 60 a student is english in this exam

In [10]:
#constrained printing

subject = "english"
num_of_students = 60
avg = 98.76
n ="average {2} marks of {1} a student is {0} in this exam".format(subject,num_of_students,avg)
print(n)

average 98.76 marks of 60 a student is english in this exam

In [11]:
#right formating 

#positional mapping

subject = "english"
num_of_students = 60
avg = 98.76
n ="average {:s} marks of {:d} a student is {:f} in this exam".format(subject,num_of_students,avg)
print(n) 
#here s stands for string,d stands for decimal(int),f stands for float

average english marks of 60 a student is 98.760000 in this exam

In [12]:
# wrong formatting 

subject = "english"
num_of_students = 60
avg = 98.76
n ="average {:d} marks of {:s} a student is {:f} in this exam".format(subject,num_of_students,avg)
print(n)

ValueError: Unknown format code 'd' for object of type 'str'

In [13]:
subject = "english"
num_of_students = 60
avg = 98.76
n ="average {0:s} marks of {1:d} a student is {2:f} in this exam".format(subject,num_of_students,avg)
print(n)

average english marks of 60 a student is 98.760000 in this exam

In [14]:
#left alignment 
ns1= "{:+>10s}".format("PYTHON")
print(ns1)

++++PYTHON

In [15]:
#right alignment

ns1= "{:+<10s}".format("PYTHON")
print(ns1)

PYTHON++++

In [16]:
# centre alignment

ns1= "{:+^10s}".format("PYTHON")
print(ns1)

++PYTHON++

In [10]:
# right alignment stars
for i in range(1,11,2):
    ns1= "{0:>10s}".format("*"*i)
    print(ns1)

         *
       ***
     *****
   *******
 *********

In [4]:
#left side alignment stars
for i in range(1,11,2):
    ns1= "{0:<10s}".format("*"*i)
    print(ns1)

*
***
*****
*******
*********

In [8]:
# centre alignment stars

for i in range(1,11,2):
    ns1= "{0:^10s}".format("*"*i)
    print(ns1)

    *
   ***
  *****
 *******
*********

In [5]:
for i in range(1,11,2):
    ns1= "{0:^100s}".format("*"*i)
    print(ns1)
    print(len(ns1))

                                                 *
100
                                                ***
100
                                               *****
100
                                              *******
100
                                             *********
100

In [ ]:
mlist = ["hello",123,(20,"world"),[1,"jan"]]

In [ ]:
mylist =list("hello")
print("mylist")

In [1]:
mylist1 = [11,22,33,44] + ["python","s","d","de"]
print(mylist1)

[11, 22, 33, 44, 'python', 's', 'd', 'de']

In [ ]:
mylist2 = [22,33,44/3]
print(mylist2)

In [ ]:
mylist2 = [22,33,44]*3
print(mylist2)

In [116]:
mylist3 = ["hello","data","world"]
mylist3[1][1]

'a'

In [7]:
mylist4 = ["hello","data","world"]
mylist4[0] == "hey"

False

In [ ]:
mylist5 = ["hello","data","world"]
mylist5.remove("world")
print(mylist5)

In [ ]:
mylist6 = ["hello","data","world"]
mylist6.insert(0,"hey")
print(mylist6)

In [ ]:
print(dir(list))

In [117]:
mylist7= ["hello","data","world"]
mylist7.sort()
print(mylist7)

['data', 'hello', 'world']

In [ ]:
mylist8 = ["hello","data","world"]
mylist8.clear()
print(mylist8)

In [ ]:
mylist9 = ["hello","data","world"]
mylist9.reverse()
print(mylist9)

In [ ]:
mylist10 = ["hello","data","world"]
mylist10.extend("hello")
print(mylist10)

In [ ]:
mylist11 = ["hello","data","world"]
mylist11.append(90)
print(mylist11)

In [119]:
mylist12=["hello","data","world"]
mylist12.pop()
print(mylist12)

['hello', 'data']

In [ ]:
mylist13 = ["hello","data","world"]
mylist13.index("world",2)
print(mylist13)

In [ ]:
count =  9
while count <10:
    print("true")
    count =count + 1

In [118]:
mylist14 = ["hello","data","world"]
a = mylist14.count("data")
print(a)
print(mylist14)

1
['hello', 'data', 'world']

In [ ]:
mylist15 = ["12,44,565,767","77"]
print(len(mylist15))

In [ ]:
mylist16 = ["hello","data","world"(1,2,3),"a",1,2,5,"b","c"]
mylist16.sort()

In [144]:
def keysorting(obj):
    if isinstance(obj,int):
        return obj
    if isinstance(obj,(str,list,tuple)):
        return len(obj)
    return 124

In [45]:

s = [0,1,2,3,4,"a",5,"if",{"name":"shashi"},[11,22,33,0],123]
s.sort(key=keysorting)
print(s)

[0, 1, 'a', 2, 'if', 3, 4, [11, 22, 33, 0], 5, 123, {'name': 'shashi'}]

In [145]:
def keysortings(obj):
    if isinstance(obj,(int,list,tuple,str)):
        return obj
    else:
        return 124

In [146]:
l = [0,1,2,3,4,"a",5,"if",{"name":"shashi"},[11,22,33,0],123]
l.sort(key=keysortings)
print(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [55]:
tuple1 = (1,2,3,4,5,6,7)
a =tuple1.count(2)
print(a)

1

In [51]:
tuple2 = "1",
print(type(tuple2))

<class 'str'>

In [52]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [56]:
m = (22,32,233,4)
d = list(m)
d.append(1)
print(d)

[22, 32, 233, 4, 1]

In [57]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
d1 = {"name":"chandra"}

In [61]:
age = int(input("enter age: "))
result = "valid voter" if age >=18 else "invalid voter"
print(result)

enter age: 16
invalid voter

In [86]:
num = int(input("enter marks: ")) 
result1 = "dist" if num >75 and num <100 else "fc"
print(result1)

enter marks: 78
dist

In [83]:
import sys
lie = list(range(240000))
print(sys.getsizeof(lie))

1920056

In [94]:
count = 30

while count >10:
    print(count)
    count = count - 1 
print(10)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

In [105]:
num = 10
while num <30:
    print(num)
    num = num + 1
print("done")

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
done

In [102]:
stock = ["hello","data","world"]
for i in stock:
    print(i)

hello
data
world

In [107]:
for i in range(10,30):
    if i%2==0:
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd

In [109]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:

ms1 = "King Ring Sing1234 Bi456ng Ping"
count = 0
uc_list = []
for char in ms1:
    if char.isdigit()==True:
        count = count +1 
        uc_list.append(char)

print(count)
print(uc_list)

7
['1', '2', '3', '4', '4', '5', '6']

# dict

In [9]:
md1 = {"bank":"sbi","branch":"mgroad","city":"delhi",91:"india"}
md1.pop(91)
print(md1)

{'bank': 'sbi', 'branch': 'mgroad', 'city': 'delhi'}

In [15]:
md1 = {"bank":"sbi","branch":"mgroad","city":"delhi",91:"india"}
a =md1.items()
print(a)

dict_items([('bank', 'sbi'), ('branch', 'mgroad'), ('city', 'delhi'), (91, 'india')])

In [5]:
md1 = {"bank":"sbi","branch":"mgroad","city":"delhi",91:"india"}
md1.setdefault("city")

'delhi'

In [20]:
md1 = {"bank":"sbi","branch":"mgroad","city":"delhi",91:"india"}
md2 = {"bank":"axis","pincode":500051}
md1.update(md2)
print(md1)

{'bank': 'axis', 'branch': 'mgroad', 'city': 'delhi', 91: 'india', 'pincode': 500051}

In [1]:
klist = ["bank","branch","city"]
vlist = ["icici","gandhinagar","hyderabad"]
z = zip(klist,vlist)
print(type(z))
print(z)

print(list(z)) #zip object are iterables, it is one time readable

<class 'zip'>
<zip object at 0x0000027D5C34C740>
[('bank', 'icici'), ('branch', 'gandhinagar'), ('city', 'hyderabad')]

In [23]:
klist = ["bank","branch","city"]
vlist = ["icici","gandhinagar","hyderabad"]
z = zip(klist,vlist)
mylist1 = list(z)
print(mylist1)

[('bank', 'icici'), ('branch', 'gandhinagar'), ('city', 'hyderabad')]

In [24]:
mydict = dict(mylist1)
print(mydict)

{'bank': 'icici', 'branch': 'gandhinagar', 'city': 'hyderabad'}

In [26]:
mydict2 = dict(zip(klist,vlist))

{'bank': 'icici', 'branch': 'gandhinagar', 'city': 'hyderabad'}

# sets

In [30]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [8]:
ds = list("chandra")
print(ds)
ds1 = list(set(ds))
print(ds1)
print(type(ds1))

['c', 'h', 'a', 'n', 'd', 'r', 'a']
['d', 'c', 'a', 'r', 'h', 'n']
<class 'list'>

In [1]:
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'
c = sentence_1.split()
print(c)
d =list(sentence_1)
print(len(d))

['We', 'shall', 'analyse', 'the', 'data', 'using', 'python']
38

In [41]:
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'
unique_words1 = set(sentence_1.split())
print(unique_words)
length = len(unique_words)
print(length)
unique_words2 = set(sentence_2.split())
print(unique_words2)
length1 = len(unique_words2)
print(length1)

{'analyse', 'shall', 'python', 'data', 'We', 'the', 'using'}
7
{'data', 'science', 'Python', 'for'}
4

In [52]:
def ms1(p0,p1):
    print(p0,p1)
    return
ms1("hello",p1=51)

hello 51

In [43]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [59]:
# swapping the parameter values

def m2(name1="shashi",name2="goutham"):
    print(name1,name2)
    return 
m2("goutham","shashi")

goutham shashi

In [62]:
#positional arguments
def m3(p0,p1=222):
    print(p0,p1)
    return 
m3(35,33)

35 33

In [63]:
#non default argument
def m3(p0=22,p1):
    print(p0,p1)
    return 
m3(35,33)

SyntaxError: non-default argument follows default argument (4044600743.py, line 2)

In [65]:
def m4(*args):
    print(args)
    return
m4(1,2,3,4)

(1, 2, 3, 4)

In [93]:
def l4(p0,p1,p2,*args,**kwargs):
    print(p0)
    print(p1)
    print(p2)
    print(args)
    print(kwargs)

In [94]:
l4(22,33,44,55,443,564,"hey",a=200,b=300)

22
33
44
(55, 443, 564, 'hey')
{'a': 200, 'b': 300}

In [95]:
def d5(*args,p0,p1,p2):
    print(args)
    print(p0)
    print(p1)
    print(p2)

In [97]:
d5(11,34,54,657,7676,p0=22,p1=14,p2=45)

(11, 34, 54, 657, 7676)
22
14
45

In [3]:
a=lambda a : a + 10
print(a(5))

15

In [109]:
lambda argument : expression

In [115]:
add2nums = lambda x,y : x+y
print(add2nums(10,20))

30

In [112]:
a = lambda x: True if x%2==0 else False
print(a(22))

True

In [124]:
# writing code in a tradition way
def weather(temp):
    if temp >70:
        return "hot"
    if temp <30:
        return "cool"
    else:
        return "warm"

In [125]:
weather(35)

'warm'

In [126]:
# writing statement in one line

a = lambda temp: "hot" if temp >70 else "cool" if temp <30 else  "warm" 
print(a(75))
print(a(40))
print(a(12))

hot
warm
cool

In [130]:
bn = 75
bn = "top score" if bn >80 else "fail" if bn <35 else "passed"
print(bn)

passed

In [143]:
mlist = [2,4,5,6]
cm = map(lambda m: m * 100,mlist)
print(list(cm))

[200, 400, 500, 600]

In [159]:
fb= [0,1,2,3,4,"a",5,"if",{"name":"shashi"},[11,22,33,0],123]
fb.sort(key=lambda ob : ob if isinstance(ob,int) else len(ob) if isinstance(ob,str,) else 100)

In [160]:
print(fb)

[0, 1, 'a', 2, 'if', 3, 4, 5, {'name': 'shashi'}, [11, 22, 33, 0], 123]

In [167]:
vlist = [2,5,7]
blist = map(lambda x : x +5 * 6, vlist)
print(list(blist))

[32, 35, 37]

In [168]:
print(5*6)

30

In [3]:
kk = list(range(1,30,3))
print(kk)

ff = filter(lambda val : val%2==0 ,kk)
print(list(ff))
print(list(ff))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
[4, 10, 16, 22, 28]
[]

In [182]:
kf = list(range(1,30,3))
print(list(kf))
print(list(kf))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

# reduce

In [183]:
import functools

In [184]:
jl = [2,4,6,8,10]
jk = functools.reduce(lambda x,y:x+y,jl)
print(jk)

30

# accumulate

In [3]:
import itertools

In [10]:
jh = [2,4,6,8,10]
ja = itertools.accumulate(jh,lambda x,y:x if x>y else y)
print(ja)
ilist = list(ja)
print(ilist)
print(ilist[-1])

<itertools.accumulate object at 0x0000027D5E6BBD80>
[2, 4, 6, 8, 10]
10

In [197]:
a,b = 10,2,3
print(a,b)

ValueError: too many values to unpack (expected 2)

In [198]:
a,b = 2,4
a,b =b,a
print(a)
print(b)

4
2

In [199]:
## iterator is one time 
## iterable is as many as times

In [7]:
squares = [ i**2 if i%2==0 else i**3 for i in range(1,8) ]
squares

[1, 4, 27, 16, 125, 36, 343]

In [13]:
clist = [ (i-32)*(5/9)    for i in [97,97.5,98.2,99]   ]
print(clist)

[36.111111111111114, 36.38888888888889, 36.77777777777778, 37.22222222222222]

In [14]:
import random

In [19]:
random.seed(23)
rlist = [random.randint(1,30)        for i in range(30)        ]
print(rlist)

[30, 25, 10, 29, 27, 3, 1, 19, 10, 14, 13, 17, 12, 5, 24, 7, 9, 15, 1, 8, 20, 15, 29, 1, 4, 3, 23, 16, 14, 1]

In [26]:

elist = [ i for i in range(30) if i%2==0         ]
elist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [33]:
nlist = [(i,2,i**2) if i%2==0 else (i,3,i**3)  for i in range(1,20) if i%3==0   ]
print(nlist)

[(3, 3, 27), (6, 2, 36), (9, 3, 729), (12, 2, 144), (15, 3, 3375), (18, 2, 324)]

In [38]:
jlist = [ (i,2,i**2) if i%2==0 else (i,3,i**3)    for i in range(11) if i%3==0      ]
jlist

[(0, 2, 0), (3, 3, 27), (6, 2, 36), (9, 3, 729)]

In [39]:
zlist = ["u1","u2","u3"]
vlist = ["p1","p2","p3"]

glist = [ (z,v)    for z in zlist if z !="u2" for v in vlist if v!="p1"            ]
glist

[('u1', 'p2'), ('u1', 'p3'), ('u3', 'p2'), ('u3', 'p3')]

In [3]:
mlist = [ "{} * {} = {}".format(a,m,a*m)           for a in range(5,11) if a !=7 for m in range(1,11) if m != 5 ]
print(*mlist,sep="\n")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [40]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

In [51]:
a = 1,2,3,4,5
print(*a,sep="\n")

1
2
3
4
5

# set comprehension

In [56]:
mylist = [ n%3 for n in range(20)]
mylist

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [59]:
myset = { n % 5 for n in range(20)}
myset

{0, 1, 2, 3, 4}

In [58]:
numlist = [24,32,36,48]
factor = [ divisor for n in numlist for divisor in range (1,n+1) if n%divisor == 0]
print(factor)

[1, 2, 3, 4, 6, 8, 12, 24, 1, 2, 4, 8, 16, 32, 1, 2, 3, 4, 6, 9, 12, 18, 36, 1, 2, 3, 4, 6, 8, 12, 16, 24, 48]

In [60]:
mydict = { (i,"even") if i%2==0 else (i,"odd")  for i in range(10)}
print(mydict)

{(5, 'odd'), (2, 'even'), (1, 'odd'), (8, 'even'), (6, 'even'), (9, 'odd'), (7, 'odd'), (4, 'even'), (3, 'odd'), (0, 'even')}

In [84]:
g1 =12
g2 =14 

def kal(v1,v2=255):
    v3 = 837
    print("debug0",g1,g2,v1,v2,v3)
    local_functions = locals()
    print(local_functions)
    return None
kal(212)
print("debug1",g1,g2)

debug0 12 14 212 255 837
{'v1': 212, 'v2': 255, 'v3': 837}
debug1 12 14

# multiple returns

In [92]:
def mycalci(n0,n1):
    s = n0+n1
    p = n0*n1
    d = n0 - n1 if n0 > n1 else n1-n0
    return s,p,d
mycalci(15,20)

(35, 300, 5)

In [ ]:
def fact(n):
    if n == 0 :
        return 1
    return n * fact(n+1)
fact(5)

In [99]:
str2 = "python"
str3 = ""
for i in str2:
    str3 = i + str3
print(str3)

nohtyp

In [101]:
a,b = 1000,1000
print(a is b )

True

In [107]:
a = 13
b = 6

print("{:02d}:{:04b}".format(a,b))
print("{:02d}:{:04b}".format(b,b))
print("{:02d}:{:04b}".format(a&b,b&a))
print("{:02d}:{:04b}".format(a|b,a|b))
print("{:02d}:{:04b}".format(a^b,a^b))

13:0110
06:0110
04:0100
15:1111
11:1011

In [17]:
a = [12,33,44,55,66]
a.insert(0,2)
a

[2, 12, 33, 44, 55, 66]

In [70]:
t = {1:{"a":"name","b":"age"},
    2:{"c":"class","d":"grade"}}
for i in t.values():
    print(i)

{'a': 'name', 'b': 'age'}
{'c': 'class', 'd': 'grade'}

In [26]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [53]:
fn ={}
fn.get("i")
print(fn)

{}

In [59]:
n = {}
j = [1,2,3]
n.fromkeys(j)

{1: None, 2: None, 3: None}

In [68]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [89]:
def fibo(a,b):
    while b<=25:
        print(b)
        a,b =b,a+b
fibo(0,1)  
print("done")

1
1
2
3
5
8
13
21
done